{%extends 'base/base.html'%}
{%block content %}

<link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style8.css') }}" media="all" >
<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #3cb371;">
  <a class="navbar-brand" href="/home">
    <img src="{{url_for('static',filename='img/logo.png') }}" width="30" height="30" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active my-2 my-sm-0" href="/home">Cuk <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/perfil">Perfil</a>
      <a class="nav-link" href="/receta">Crear Recetas</a>
      <a class="nav-link" href="#">Acerca de</a>
      <a class="nav-link" href="#">contactenos</a>
      <a class="nav-link" href="/logout">Cerrar sesion</a>

    </div>
  </div>
</nav>
 <div class="container">

  <header class="showcase">
    <h2>Bienvenido a Cuk</h2>
    <p>las mejores recetas que podras probar</p>
    <a href="#" class="btn">
      Hechale un vistaso <i class="fas fa-chevron-right"></i>
    </a>
  </header>
</div>

 <div class="news-cards"> 
 {% for recetas in recetas %}
  
 <div>
     <img title="{{recetas.Titulo}}"
     alt="{{recetas.Imagen}}" 
     src="{{recetas.Imagenes}}">
     
       <h3 class="card-title">{{recetas.Titulo}}</h3>
       <p class="card-text">{{recetas.Resumen}}</p>
       <button class="btn" name="btnAccion" value="Agregar" type="submit" onclick="location.href='/recetas/{{recetas.Titulo}}'">{{recetas.Titulo}}</button>
     
     </div>
    
   
   {%endfor%}
 </div> 
 </div>
 

{%endblock%}