{%extends 'base/base.html'%}
{%block content %}
<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #3cb371;">
    <a class="navbar-brand" href="/home">
      <img src="{{url_for('static',filename='img/logo.png') }}" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active my-2 my-sm-0" href="/home">Cuk <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Recetas</a>
        <a class="nav-link" href="#">Acerca de</a>
        <a class="nav-link" href="#">contactenos</a>
        <a class="nav-link" href="/login2">Cliente</a>
        <a class="nav-link" href="/login">Admin</a>

      </div>
    </div>
  </nav>
  <form class="formulario" id="formulario"method="POST">
    
    <h1>Bienvenido {{bienvenido}}</h1>
     <div class="contenedor">
     
     
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input name="usuario" type="text" placeholder="Nombre de usuario" required>
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input name="contrasena" type="password" placeholder="Contraseña" required>
         
         </div>
         <input type="submit" value="Login" class="button">
         <p><a class="link" href="/login/contraseña">¿olvidaste la contraseña? </a></p>
         <p>¿No tienes una cuenta? <a class="link" href="/registro">Registrate </a></p>
         {% if error != None %}
         <div class="w3-panel w3-red">
             <h1>¡Error!</h1>
             <p>Contraseña inválida.</p>
         </div>
         {% endif %}
     </div>
    </form>
    {%endblock%}