{%extends 'base/base.html'%}
{%block content %}
<link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tarjeta1.css') }}" media="all" >
<link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style8.css') }}" media="all" >
<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #3cb371;">
    <a class="navbar-brand" href="/homeadmin">
    <img src="{{url_for('static',filename='img/logo.png') }}" width="30" height="30" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active my-2 my-sm-0" href="/homeadmin">Cuk <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/perfiladmin">Perfil</a>
      <a class="nav-link" href="/recetaadmin">Crear Recetas</a>
      <a class="nav-link" href="/cargarArchivo">cargar Recetas</a>
      <a class="nav-link" href="/tabla">Registro de Recetas</a>
      <a class="nav-link" href="/tablaclientes">Registro de Clientes</a>
      <a class="nav-link" href="/logout">Cerrar sesion</a>
      
     

    </div>
  </div>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="card">
    <img src="{{url_for('static',filename='img/perfil.png') }}" alt="John" style="width:100%">
  <h1>{{usuario}}</h1>
  <p class="title">Nombre: {{nombre}}</p>
  <p class="title">Apellido: {{apellido}}</p>
  <p>contraseña : {{contrasena}}</p>
  
</div>



  <form name="registro" class="formulario" action="" method="POST" onsubmit="return validar()">
    
    <h1>Modifica tu perfil</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
      <i class="fas fa-address-card icon"></i>
         <input type="text" id="nombre" placeholder="Nombre " name="nombre" >
         
         </div>
         
         <div class="input-contenedor">
          <i class="fas fa-address-card icon"></i>
          <input type="text" id="apellido" name="apellido" placeholder=" Apellido"required>
          
          </div>
          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" id="usuario" name="usuario"  placeholder="Nombre de usuario" required>
            
            </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        
  
         </div>
         <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
           <input type="password" id="contraseña2" name="contrasena2" placeholder=" Confirma tu Contraseña" required>
           
           </div>
         <input type="submit" value="Modificar" class="button" id="registrar" onclick="enviar_mensaje()">
        
         
     </div>
     <div id ="resultado">
      {% if error != None %}
      <div class="w3-panel w3-red">
          <h1>{{error}}</h1>
         
      </div>
      {% endif %}
     </div>
    </form>
    {%endblock%}
