{%extends 'base/base.html'%}
{%block content %}
<link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/receta3.css') }}" media="all" >
<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #3cb371;">
    <a class="navbar-brand" href="/home">
      <img src="{{url_for('static',filename='img/logo.png') }}" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active my-2 my-sm-0" href="/home">Cuk <span class="sr-only">(current)</span></a>
        

      </div>
    </div>
  </nav>
  <section>
    <header class="main">
        <h1>{{titulo}}</h1>
    </header>

    <span class="image main"><img src="{{imagen}}" alt="" /></span>
<h2>Resumen</h2>
    <p>{{resumen}}.</p>

    <hr class="major" />

    <h2>Ingredientes</h2>
    <p>{{ingredientes}}</p>

    <hr class="major" />

    <h2>Preparacion</h2>
    <p>{{preparacion}}</p>
    <h2>Tiempo de preparacion</h2>
    <p>{{tiempo}} minutos</p>
   
</section>

</div>
</div>

        {%endblock%}