{%extends 'base/base.html'%}
{%block content %}

<link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style8.css') }}" media="all" >
<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #3cb371;">
  <a class="navbar-brand" href="/home">
    <img src="{{url_for('static',filename='img/logo.png') }}" width="30" height="30" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active my-2 my-sm-0" href="/home">Cuk <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/perfil">Perfil</a>
      <a class="nav-link" href="/receta">Crear Recetas</a>
      <a class="nav-link" href="#">Acerca de</a>
      <a class="nav-link" href="#">contactenos</a>
      <a class="nav-link" href="/logout">Cerrar sesion</a>

    </div>
  </div>
</nav>
<form name="registro_receta" class="formulario" action="" method="POST" onsubmit="return validar()">
    
    <h1>Escribe tu Receta</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
      <i class="fas fa-address-card icon"></i>
         <input type="text" id="titulo" placeholder="Escribe el titulo" name="titulo" required>
         </div>
         <div class="input-contenedor">
          <textarea id="resumen"  name="resumen"type="text" placeholder="redacta un pequeño resumen" required></textarea>
          </div>
          <div class="input-contenedor">
            <textarea id="ingredientes" name="ingredientes"type="text" placeholder="redacta los ingredientes" required></textarea>
            </div>
            <div class="input-contenedor">
                <textarea id="preparacion" name="preparacion"type="text" placeholder="redacta la preparacion" required></textarea>
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-hourglass-half icon"></i>
                    <input type="number" name="tiempo" id="tiempo" min="1" max="60" step="2" placeholder="tiempo de preparacion" required>                      
                 </div>
                 <div class="input-contenedor">
                    <i class="fas fa-images icon"></i>
                       <input type="text" id="imagen" placeholder="Escribe la ruta de tu imagen" name="imagen" required>
                       </div>  
         <input type="submit" value="Guardar" class="button" id="Guardar" onclick="enviar_mensaje()">
        
     <div id ="resultado">
      {% if error != None %}
      <div class="w3-panel w3-red">
          <h1>{{error}}</h1>
         
      </div>
      {% endif %}
     </div>
    </form>
{%endblock%}