{%extends 'base/base.html'%}
{%block content %}
<link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/carga.css') }}" media="all" >
<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #3cb371;">
    <a class="navbar-brand" href="/homeadmin">
    <img src="{{url_for('static',filename='img/logo.png') }}" width="30" height="30" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active my-2 my-sm-0" href="/homeadmin">Cuk <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/perfiladmin">Perfil</a>
      <a class="nav-link" href="/recetaadmin">Crear Recetas</a>
      <a class="nav-link" href="/cargarArchivo">cargar Recetas</a>
      <a class="nav-link" href="/tabla">Registro de Recetas</a>
      <a class="nav-link" href="/tablaclientes">Registro de Clientes</a>
      <a class="nav-link" href="/logout">Cerrar sesion</a>
      
     

    </div>
  </div>
</nav>

<input type="file" id="fileChooser" style="display: none;" />
<button class="button   "
  onclick="cargarArchivo(fileChooser)">Cargar
  archivo</button>

  <p></p>
  

<script>

    
  
    var fileChooser = document.getElementById('fileChooser');
    if (fileChooser)
      fileChooser.addEventListener("change", subirArchivo)
  
    function subirArchivo()
    {
      let reader = new FileReader();
  
      reader.onload = function ()
      {
        let datos = {
          data: reader.result.replace('data:', '')
            .replace(/^.+,/, '')
        }
        fetch('/cargarArchivo', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(datos)
        }).then(res =>
        {
          location.reload();
        });
      }
  
      reader.onerror = function (error)
      {
        console.log('Error: ', error);
      };
  
      reader.readAsDataURL(fileChooser.files[0]);
    }
  
    function cargarArchivo(input)
    {
      input.click();
    }
  
  </script>   
{%endblock%}